.task__trafficlight {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: black;
}
.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
